bson==0.5.8
dataclasses==0.6
Django==2.2.10
django-adaptors==0.2.5
djangorestframework==3.11.0
djangotoolbox==1.8.0
dnspython==1.16.0
python-dateutil==2.8.1
pytz==2019.3
six==1.14.0
sqlparse==0.2.4
mysqlclient
django-cors-headers
python-dotenv
numpy==1.18.1
requests
numpy